:root{
    --body_bg_color : #180552;
    --divcv_bg_color : #00f7ff;

    --bx_shadow_neon : 0px 0px 24px 5px rgba(0,247,255,0.58),0px 0px 10px 2px rgba(255,255,255,0.84);

    --tx_shadow_neon : 0px 0px 6px rgba(0,247,255,0.7),0px 0px 10px rgba(255,255,255,1);
    --tx_shadow_neon_icon : 0px 0px 2px rgba(0,247,255,0.7),0px 0px 4px rgba(255,255,255,1);


    --font_roboto : 'Roboto', sans-serif;;
}

body {
    background-color: var(--body_bg_color);
    font-family: var(--font_roboto);
    color: white;
    text-align: center;

    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;

    position: relative;
}

body div#options{
    position: absolute;
    bottom: 10px;
    left: 0;
}

body .display_none{
    display: none;
}

body div#options .material-icons{
    font-size: 50px;
    color: var(--divcv_bg_color);
    text-shadow: var(--tx_shadow_neon_icon);
    display: inline;
    cursor: pointer;
    margin: 10px;
}

body div#options p{
    margin-bottom: 0;
}

.neon{
    text-shadow: var(--tx_shadow_neon);
}

body > h1{
    display: block;
    margin: 0;
    padding-top: .67em;
}

body div#canvas-holder {
    display: block;
    width: 60%;
    height: calc(70% - 40px);
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: var(--divcv_bg_color);
    border-radius: 10px;
    box-shadow: var(--bx_shadow_neon);
}

body div#canvas-holder canvas#webglcanvas {
    display: block;
    width: 100%;
    height: 100%;
}

label, button {
    margin-left: 30px;
}