/*CSS for the UI behavior*/
#options{
    position: absolute;
    top: 0;
    left: 0;

    padding: 20px;

    background-color: var(--option_bg_color);
    color: var(--main_text_color);
    font-family: var(--text_font);

    border-bottom : solid var(--option_border_size) var(--option_border_color);
    border-right  : solid var(--option_border_size) var(--option_border_color);
    border-radius: 0 0 var(--option_border_radius) 0;
}

#stats {
    position: absolute;
    top: 0;
    right: 0;

    padding: 20px;

    background-color: var(--option_bg_color);
    color: var(--main_text_color);
    font-family: var(--text_font);
}

#options #options_title{
    text-align: center;
    color: var(--option_text_title_color);
    cursor: pointer;
}

#options .option_separator {
    font-weight: bolder;
    cursor: pointer;
}

#options #options_list, #options .options_container {
    display: none;
}


#options_list div.vec2,#options_list div.vec3,#options_list div.vec4 {

}

#options_list div span.description{

}

#options_list div input{

}

#options_list div input.sliderdescription{

}

#options_list div input.number{

}

#options_list div input.texture{

}